* {
    box-sizing:border-box;
   
}

body {
    margin:0;
}
header {
    background-color: black;
    color:white;
    padding:250px;
    text-align:center;
    background-image: url('kalnas.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:auto;
    background-position: bottom;
       
   
}
header h1 {
    font-size: 80px;
}
.box {
    padding: 11px 23px;
    display: inline-block;
    border: 3px solid gray;
    box-sizing: border-box;
    position:absolute;
    left: 50px;
    top: 5px
}

nav{
    background-color:#CCD3DB;
    overflow:hidden;
}
nav a {
    float:right;
    color: gray;
    text-align:center; 
    padding: 10px 20px;
    text-decoration:none;

}

nav a.right {
    float:right;
}
section {
    display:flex;
    flex-wrap:wrap;

}

h2.space {
    letter-spacing: 0.2em;
}

aside {
    flex:30%;
    background-color:#f1f1f1;
    color: #468AC9;
    padding: 45px 200px 50px 70px;

}

main {
    flex:70%;
    padding:20px;
    color:lightblue;
    background-color: #468AC9;
    font-size: 25px;
}


input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
textarea{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
input.submit{
    letter-spacing: 0.05em;
    background-color: #468AC9;
    padding: 12px 20px;
    color: white;
    margin: 8px 0;
    border: 2px solid;
    box-sizing: border-box;
  }

input.red
    {
      background-color: #DB545A;
      border: none;
      color: white;
      padding: 12px 20px;
      font-size: 16px;
    }
    footer {
        text-align:center;
        background-color:#ddd;
        padding:40px;
        display:flex;
    }
.footer-rightside 
    {
        text-align: center;
        width: 30%;
        float: left;
    }
img {
    width: 45%;
}



@media screen and (max-width:700px) {
    section {
        flex-direction: column;
    }
}
